<h2 style="text-align: center;">☆ Welcome to {{title}} ☆</h2>
<img style="display:block; margin-left: auto; margin-right: auto;" width="120" height="120"
    src="https://icons.iconarchive.com/icons/dtafalonso/android-lollipop/512/Calculator-icon.png">
<hr>
Enter First Number: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="number" [(ngModel)]="num1"><br><br>
Enter Second Number: <input type="number" [(ngModel)]="num2"><br><br>
<button (click)="add()">Addition</button>&nbsp;&nbsp;
<button (click)="sub()">Subtraction</button>&nbsp;&nbsp;
<button (click)="mul()">Multiplication</button>&nbsp;&nbsp;
<button (click)="div()">Division</button><br><br>
<h3>Result: {{result}} </h3>
<br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer style="text-align: center;background-color:green">&copy;<b><i>Copyright: Created By Yogesh Borole</i></b></footer>
